* {
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    background: #888;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 1px;
}

author, title, h1, h2, h3, h4, h5, h6 {
    color: rgb(100, 80, 132);
}

body {
    font-family: Verdana, Geneva, Helvetica, sans-serif;
    font-size: 100%;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    border: 3px ridge #000;
    padding: 2.5% 2.5% 0;
    background: white;
    line-height: 1.8;
}

h3 {
    font-size: 1.3em;
}

p {
    margin-bottom: 1em;
}

a {
    color: rgb(184, 126, 84);
}

a:hover {
    color: rgb(120, 97, 55);
}

pre {
    font-size: .8em;
    color: white;
    padding: .5em 1em;
    background: #666;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width: 80%;
}

.container {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

author {
    font: 1.2em Helvetica, Verdana, Geneva, sans-serif;
    margin-bottom: .35em;
}

header {
    overflow: hidden;
    padding-top: 15px;
}

header h1 {
    font: 1.8em Verdana, Geneva, Helvetica, sans-serif;
    margin-bottom: .4em;
    color: rgb(83, 104, 138);
}

header h2 {
    font: 3.5em Georgia, "Times New Roman", Times, serif;
    padding-bottom: .4em;
}

header h2 a { 
    text-decoration: none;
    color: rgb(100, 80, 132);
}

nav {
    padding-bottom: 15px;
}

nav li {
    display: inline;
    font: Helvetica, Geneva, Verdana, sans-serif;
    margin-left: 1em;
}

nav li:hover {
    color: rgb(184, 126, 84);
}

form fieldset * {
    padding-bottom: 20px;
}

#myReset {
    padding-left: 10px;
}

#list {
    padding-left: 20px;
}

#about {
    border-top: 1px solid gray;
    padding-top: 15px;
}

#screenshot {
    padding: 20px 140px 0px;
    max-width: 65%;
}

#pic {
    padding: 15px;
    max-width: 60%;
}

#specification {
    padding: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin-bottom: 20px;
}

footer {
    border-top: 1px solid gray;
    text-align: center;
    font-size: .8em;
    line-height: 1.5em;
    margin-top: 1em;
    padding-bottom: 30px;
}

.center {
    text-align: center;
}

.flowRight {
    float: right;
}

.flowLeft {
    float: left;
}
