* {
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    background: #888;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 1px;
}

author, title, h1, h2, h3, h4, h5, h6 {
    color: rgb(107, 107, 132);
}

author {
    font: 1.2em Helvetica, Verdana, Geneva, sans-serif;
    margin-bottom: .35em;
}

body {
    font-family: Verdana, Geneva, Helvetica, sans-serif;
    font-size: 100%;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    border: 3px ridge #000;
    padding: 2.5% 2.5% 0;
    background: white;
    line-height: 1.8;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font: 1.6em Verdana, Geneva, Helvetica, sans-serif;
    margin-bottom: .4em;
    color: rgb(83, 104, 138);
}

h2 {
    font: 3.5em Georgia, "Times New Roman", Times, serif;
    margin-bottom: .3em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin-bottom: 1em;
}

a {
    color: rgb(184, 126, 84);
}

a:hover {
    color: rgb(120, 97, 55);
}

pre {
    font-size: 1.4em;
    color: white;
    padding: .5em 1em;
    border-left: 1em solid #A68048;
    background: #666;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width: 80%;
}

.center {
    text-align: center;
}

header h2 {
    padding-bottom: .2em;
    border-bottom: 1px solid gray;
}

footer {
    border-top: 1px solid gray;
    text-align: center;
    font-size: .8em;
    line-height: 1.5em;
    margin-top: 1em;
}

.flowRight {
    float: right;
    margin-left: 10px;
}

.flowLeft {
    float: left;
    margin-right: 10px;
}
